<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Innlogging Nordvest Inspeksjon AS</title>
<script src="Innlogging%20Nordvest%20Inspeksjon%20AS_files/jquery.js"></script>
<script src="Innlogging%20Nordvest%20Inspeksjon%20AS_files/galleria-1.js"></script>

<%= stylesheet_link_tag "style", "galleria" %>

<style>

  body {
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8em;
color: #535548;
background-color: lightGrey;
text-align: center;
margin: 0;
padding: 0;
}

.float-break {
height: 1%;
} 

.hide {
display: none;
}

div#page {
width: 1000px;
margin: 0 auto 0 auto;
text-align: left;
}

div {
display: block;
}

/* Form Elements */

input.button, button, input.defaultbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: center;
vertical-align: middle;
font-size: 0.8em;
color: #343434;
}

/* Header */

div#header {
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
background-color: white;
padding-bottom: 0em;
height: 232px;
}

div#logo {
float: left;
margin: 1em 0 0 1.5em;
}

div#searchbox {
width: 20em;
margin-top: 1.75em;
margin-right: 1em;
text-align: right;
float: right;
}



/* Topmeny */


/* Main Content */
div#main-position {
width: 100%;
float: left;
}

div.content-view-full div.class-frontpage {
background-color: white;
padding: 0 0em 0 0em;
}
</style>
<%= javascript_include_tag 'galleria' %>
</head>
<body>
  <div id="page" class="nosidemenu noextrainfo section_id_8 subtree_level_0_node_id_2 subtree_level_1_node_id_181 current_node_id_181">
 <!--   <div id="header" class="float-break">


      
<img src="site/header_nvi.jpg" alt="Nordvest Inspeksjon AS" />

  </div> -->
	<div class="Navigation">
		<div id="NavigationInside">
			<ul>
				<% @web_menu_sections.each_with_index do |web_menu_section| %>
				<li><a href="#"> <%= web_menu_section.name%></a>


					<ul class="horizontal">
<% menu_items = WebMenuItem.find(:all, :conditions => {:web_menu_section_id => web_menu_section.id}).map(&:id) %>
<%# menu_items.each_with_index do |menu_item| %>

                                          <li><a href="#"></a></li>
						<li><a href="#">Articles</a>
<% web_articles = WebArticle.find_all_by_web_menu_item_id(menu_items) %>
<div class="extended">
								<div class="arrow-up"></div>
								
								<ul class="smallNav">

<%web_articles.each_with_index do |web_article|%>

									<li><a href="#"><%= web_article.name %></a></li>
									
<% end 	%>
								</ul>
							</div>


</li>
<%# end 	%>

						<li><a href="#">Links</a>
<% web_links = WebLink.find_all_by_web_menu_item_id(menu_items) %>
<div class="extended">
								<div class="arrow-up"></div>
								
								<ul class="smallNav">

<%web_links.each_with_index do |web_link|%>

									<li><a href="#"><%= web_link.id %></a></li>
									
<% end 	%>
								</ul>
							</div>


</li>
<%# end 	%>

						<li><a href="#">Folders</a> 
<% web_folders = WebFolder.find_all_by_web_menu_item_id(menu_items) %>
<div class="extended">
								<div class="arrow-up"></div>
								
								<ul class="smallNav">

<%web_folders.each_with_index do |web_folder|%>

									<li><a href="#"><%= web_folder.name %></a></li>
									
<% end 	%>
								</ul>
							</div>


</li>	
	
					</ul>
			</li>
                                
				
                              <%end%>
                                                              
		
			</ul>
		</div>
	</div>

</div></div></div>
<div class="border-bl"><div class="border-br"><div class="border-bc"></div></div></div>
</div>

</div>
    </td>
    <td style="width: 1%"></td>
  </tr>
</tbody></table>

<br>


            </div>
            
          </div>
    
          
        </div>
      </div>
    </div>

  </div>
  </div>
</body></html>
