<%= form_for(@website_menu_item) do |f| %>
  <% if @website_menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website_menu_item.errors.count, "error") %> prohibited this website_menu_item from being saved:</h2>

      <ul>
      <% @website_menu_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main_menu %><br />
    <%#= f.number_field :main_menu_id %>
	<%#= f.collection_select :main_menu_id, MainMenu.all, :id, :title %>
	<%= f.select(:main_menu_id, mainmenu_for_select, :prompt => 'Select') %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
