<h1>Listing website_menu_items</h1>
<section>
  <table class="users">
    <thead>
      <tr>
	    <% @main_navs.each do |m| %>
        <th><%= m.title%></th>
        <% end %>
		<th>actions</th>
      </tr>
    </thead>
    
  </table>
</section>

<table>
  <tr>
    <td>Main menu</td>
    <td>Title</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @website_menu_items.each do |website_menu_item| %>
  <tr>
    <td><%= MainMenu.find(website_menu_item.main_menu_id).title %></td>
    <td><%= website_menu_item.title %></td>
    <td><%= link_to 'Show', website_menu_item %></td>
    <td><%= link_to 'Edit', edit_website_menu_item_path(website_menu_item) %></td>
    <td><%= link_to 'Destroy', website_menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Website menu item', new_website_menu_item_path %>
