<p id="notice"><%= notice %></p>

<p>
  <b>Main menu:</b>
  <%= @website_menu_item.main_menu_id %>
</p>

<p>
  <b>Title:</b>
  <%= @website_menu_item.title %>
</p>


<%= link_to 'Edit', edit_website_menu_item_path(@website_menu_item) %> |
<%= link_to 'Back', website_menu_items_path %>
