<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<style>

  body {
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8em;
color: #535548;
background-color: lightGrey;
text-align: center;
margin: 0;
padding: 0;
}

.float-break {
height: 1%;
} 

.hide {
display: none;
}

div#page {
width: 1000px;
margin: 0 auto 0 auto;
text-align: left;
}

div {
display: block;
}

/* Form Elements */

input.button, button, input.defaultbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: center;
vertical-align: middle;
font-size: 0.8em;
color: #343434;
}

/* Header */

div#header {
padding-left: 0em;
padding-right: 0em;
padding-top: 0em;
background-color: white;
padding-bottom: 0em;
height: 232px;
}

div#logo {
float: left;
margin: 1em 0 0 1.5em;
}

div#searchbox {
width: 20em;
margin-top: 1.75em;
margin-right: 1em;
text-align: right;
float: right;
}



ul.deepsmallNav {
	display: none;
}
ul.smallNav li:hover > ul {
		display: block;
}



/* Topmeny */


/* Main Content */
div#main-position {
width: 100%;
float: left;
}

div.content-view-full div.class-frontpage {
background-color: white;
padding: 0 0em 0 0em;
}
</style>
<%= javascript_include_tag 'galleria' %>
</head>
<body>
  <div>
				 <%#= link_to "Signin" , new_user_session_path %>
  </div>
  <div id="page" class="nosidemenu noextrainfo section_id_8 subtree_level_0_node_id_2 subtree_level_1_node_id_181 current_node_id_181">
	<div class="Navigation">
		<div id="NavigationInside">
			<ul>
				<% @web_menu_sections.each_with_index do |web_menu_section| %>
				<li>
					<%= link_to web_menu_section.name ,'#' %>
          <ul class="horizontal">
						 <% web_menu_section.web_menu_items.each do |menu_item|%>
							 <li>
									 <%= link_to menu_item.name, '#' %>
								   <div class="extended">
										<div class="arrow-up"></div>
											<ul class="smallNav">
												 <li>
														<%= link_to 'Links','#'%>
													<ul class="deepsmallNav">
														<% menu_item.web_links.each_with_index do |web_link|%>
															<li>
																<%= link_to  web_link.name , web_link_path(web_link) %>													
															</li>
														<% end 	%>
												  </ul>														
												</li>
												<li>
													<%= link_to 'Folders','#'%>
												  <ul class="deepsmallNav">
														<% menu_item.web_folders.each_with_index do |web_folder|%>
														<li>
															<%= link_to  web_folder.name , web_folder_path(web_folder) %>													
														</li>
												    <% end 	%>
												  </ul>					
												</li>

												 <li>
														<%= link_to 'Articles','#'%>
											      <ul class="deepsmallNav">
														 <% menu_item.web_articles.each_with_index do |web_article|%>
														<li>
															<%= link_to  web_article.name , web_article_path(web_article) %>													
														</li>
													  <% end 	%>
												  </ul>	
												</li>
												
											</ul>
										</div>
							 </li>
						 <% end %>
					</ul>
			  </li>
        <%end%>
			</ul>
		</div>
	</div>
</div>

<div class="container">
<%= yield %>
</div>


</body></html>
